{% extends "base.html" %}

{% block title %}
	All Flights
{% endblock title %}

{% block content %}
	<!-- SECTION: FLIGHTS -->
    <div class="mt-5 mb-5 container">
    	{% for flight in flight_list %}
	    
	    	<!--Panel-->
	    	<div class="card w-75 mb-4">
		        <div class="card-body">
		            <h5 class="card-title">₹ {{ flight.price }}</h5>
		            <p class="card-text">Cheapest flight from {{ flight.origin }} to {{ flight.destination }}</p>

		            {% if flight.has_departed %}
		            	<a href="{% url 'contact_form' %}" class="btn btn-danger">Details</a>
		            {% else %}
		            	<a href="{{ flight.get_absolute_url }}" class="btn btn-success">
		            	Details</a>
		            {% endif %}
		        </div>
		        <div class="card-footer">
		            <small class="text-muted">
		            	{% if flight.has_departed %}
		            		Departed...
		            	{% else %}
		            	 	Departure on {{ flight.get_departure_time }}...
						{% endif %}
		            </small>
		        </div>
			</div>
			<!--/.Panel-->
		
		{% endfor %}
	</div>

	<!-- /SECTION: FLIGHTS -->
{% endblock content %}